@charset "utf-8";
@import "normalize";
@import "./node_modules/bootstrap/scss/bootstrap.scss";

$base-color: #FFFFFF;
$main-color: #4BBDAB;
$accent-color: #FADF4B;

img {
	width: 100%;
}

body {
	background-color: $base-color;
}

.navbar-light {
	background-color: $main-color;
	border-color: $main-color;
}

.navbar {
	max-width: 1110px;
}

.navbar-brand {
	a {
		color: $accent-color;
		text-decoration: none;
	}
	h1 {
		margin: 0 30px;
	}
}

#presentation iframe {
	width: 600px;
	height: 450px;
}

@include media-breakpoint-down(sm) {
	.navbar-brand h1 {
		margin: 0;
	}

	#presentation iframe {
		width: 300px;
		height: 225px;
	}
}

#cover-img {
	background-color: $main-color;
	border-color: $main-color;
	padding-bottom: 40px;
	text-align: center;

	img {
		max-width: 1024px;
	}
}

div#abstract {
	margin: 40px 0;
}

#abstract h1, #presentation h1, #projects h1, #request h1 {
	text-align: center;
}

#projects h1, .container #request, .container #grant {
	border-top: solid 30px $main-color;
	margin: 0;
}

#projects h1, .container #grant {
	padding-top: 30px;
	margin-bottom: 30px;
}

span.underline {
	border-bottom: solid 3px $main-color;
}

.icon {
	text-align: center;
	img {
		max-width: 128px;
	}
}

.app-intro {
	border: 1px solid $main-color;
	margin: 30px;
	padding: 20px;
}

.app-header {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	margin: 10px 0;
}

div#contact {
	margin-bottom: 30px;
}

.query {
	text-align: center;
}

.twin-triangle {
	background-image: linear-gradient(150deg, $accent-color 100px, transparent 0),
		linear-gradient(-30deg, $accent-color 100px, transparent 0);
}

@include media-breakpoint-down(sm) {
	.twin-triangle {
		background-image: linear-gradient(150deg, $accent-color 60px, transparent 0),
			linear-gradient(-30deg, $accent-color 60px, transparent 0);
	}
}

@include media-breakpoint-down(sm) {
	ul {
		margin: 0 0 0 1em;
		padding: 0;
	}
}


footnote {
	#footnote {
		background-color: $main-color;
	}
	.copyright {
		text-align: center;
	}
}